@{
    ViewData["Title"] = "TikTakToe";
}

@model TikTakToe_Game.Models.GameViewModel


<main>
    <!--show all buttons-->
    <!--three buttons in one line container -> there are 3 containers
    - they call functions in homecontroller
    - depending on symbolid show different button faces (X OR O OR nothing)
    -->
    
    <!--TODO - add all buttons + set them near each other-->
    <div  class="container-md fs-1">
        <form method="post">
            <!--first row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <!--either create a function for every button or find a way to call an action with parameters-->
                    <button type="submit" class="field" asp-controller="Home" asp-action="FirstFirst">@Model.FirstLine[0]</button>
                    <button type="submit" class="field" asp-controller="Home" asp-action="FirstSecond">@Model.FirstLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="FirstThird">@Model.FirstLine[2]</button>
                </div>
            </div>
            <!--second row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondFirst">@Model.SecondLine[0]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondSecond">@Model.SecondLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondThird">@Model.SecondLine[2]</button>
                </div>
            </div>
            <!--third row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="field" asp-controller="Home" asp-action="ThirdFirst">@Model.ThirdLine[0]</button>
                    <button type="submit" class="field" asp-controller="Home" asp-action="ThirdSecond">@Model.ThirdLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="ThirdThird">@Model.ThirdLine[2]</button>
                </div>
            </div>
        </form>
    </div>
    <!--show round -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-start"><p class="">This is round: @Model.Round</p></div>
        <div class="col-4"></div>
    </div>
    @if (Model.Over)
    {
        @if (!Model.Full)
        {
            @if (Model.Round % 2 == 1)
            {
                <div class="alert alert-danger" role="alert">
                    Player 2 won!
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    The first player won!
                </div>
            }    
        }
        <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#play_again" aria-controls="play_again">New Game</button>
        <div class="offcanvas offcanvas-bottom" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="play_again" aria-labelledby="canvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-success" id="canvasLabel">
                    Start a new game!
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> 
            </div>
            <div class="offcanvas-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h4>
                                Do you want to start a new game?
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <form method="post">
                                <button type="submit" class="btn btn-success me-3" asp-action="ResetGame" asp-controller="Home">Yes</button>
                            </form>
                            <button class="btn btn-danger" type="button" aria-label="Close" data-bs-dismiss="offcanvas">No</button>
                        </div>
                    </div>  
                </div>
            </div> 
        </div>
    }
</main>

