@{
    ViewData["Title"] = "TikTakToe";
}

@model TikTakToe_Game.Models.GameViewModel


<main>
    <!--show all buttons-->
    <!--three buttons in one line container -> there are 3 containers
    - they call functions in homecontroller
    - depending on symbolid show different button faces (X OR O OR nothing)
    -->
    
    <!--TODO - add all buttons + set them near each other-->
    <div  class="container-md fs-1">
        <form method="post">
            <!--first row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <!--either create a function for every button or find a way to call an action with parameters-->
                    <button type="submit" class="field" asp-controller="Home" asp-action="FirstFirst">@Model.FirstLine[0]</button>
                    <button type="submit" class="field" asp-controller="Home" asp-action="FirstSecond">@Model.FirstLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="FirstThird">@Model.FirstLine[2]</button>
                </div>
            </div>
            <!--second row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondFirst">@Model.SecondLine[0]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondSecond">@Model.SecondLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="SecondThird">@Model.SecondLine[2]</button>
                </div>
            </div>
            <!--third row of playing fields-->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="field" asp-controller="Home" asp-action="ThirdFirst">@Model.ThirdLine[0]</button>
                    <button type="submit" class="field" asp-controller="Home" asp-action="ThirdSecond">@Model.ThirdLine[1]</button>
                    <button class="field" type="submit" asp-controller="Home" asp-action="ThirdThird">@Model.ThirdLine[2]</button>
                </div>
            </div>
        </form>
    </div>
    <!--show round -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-start"><p class="">This is round: @Model.Round</p></div>
        <div class="col-4"></div>
    </div>
    @if (Model.Over)
    {
        @if (Model.Round % 2 == 1)
        {
            <div class="alert alert-danger" role="alert">
                Player 2 won!
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Player 1 won!
            </div>
        }
    }
</main>

